@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-block {
    @apply px-4 w-full;
  }
  .logo {
    font-size: 40px;
    width: 40px;
    height: 40px;
  }
  .shadow-custom {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
  .shadow-custom_2 {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .app-container {
    @apply grid grid-rows-[auto,1fr] h-screen;
  }
}
// add the code bellow
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: block;
    right: -17px;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
